.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.main-container {
}

.product-list-container {
  float: right;
  width: 50%;
  /*background-color: #CCF;*/
  background-color: #CCF;
}
.product-selector {
  float: left;
  width: 50%;
  background-color: #FFA;
}
.cleared {
  clear: both;
}

.product-item {
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
  height:120px;
}
.product-header {
  width: 100%;
  padding: 2px;
}

.image-selector {
  padding: 5px;
}

.product-selector-input {
  margin: 5px auto;
  padding: 10px;
  width: 50% !important;
}

.right-align {
  float:right;
}
.left-align {
  float:left;
}
.square {
  width:50px;
  height:50px;
}

span.square {
  width:50px;
  height:50px;
  display: inline-block;
}